
export type Get$NAME$Input = {};

export type Get$NAME$Data = {
  message: string;
};

export const get$NAME$ = async (
  input: Get$NAME$Input
): Promise<Get$NAME$Data> => {
  const res = await fetch(`${API_V4_URL}${API_RESSOURCE}`, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  });
  const json = await res.json();
  return json.data as Get$NAME$Data;
};
